{
  "parser": "@typescript-eslint/parser",
  "env": {
    "cypress/globals": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["cypress"]
}
